services:
  backend:
    build: ./server
    container_name: backend
    ports:
      - "3000:3000"
    networks:
      - fullstack-net
    restart: unless-stopped

  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "4000:4000"
    networks:
      - fullstack-net
    depends_on:
      - backend
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
